<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Game of Thrones characters</h1>
        <img src="img/banner.png" alt="21 Savage Profile Photo">



        <button id="eggOne" type="button" name="button"><a href="/login" ><span class="fa fa-user"></span>Login</a></button>
        <button id="eggTwo" type="button" name="button"><a href="/signup" ><span class="fa fa-user"></span>Signup</a></button>

    </div>

</div>
</body>
</html>
